################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/JwtAuthorizationCenter/AuthorizationCenter/obj
/JwtAuthorizationCenter/.vs/JwtAuthorizationCenter/v16
/JwtAuthorizationCenter/AuthorizationCenter/bin/Debug/netcoreapp3.1
